*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	font: inherit;
}

img {
	width: 100%;
}

b {
	font-weight: 700;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: #333;
	color: #ddd;
	font-family: "JetBrains Mono", monospace;
	font-size: 1.6rem;
}

.container {
	max-width: 85vw;
	margin: 0 auto;
	padding: 5vh 1.5rem;
}

.copy {
	width: fit-content;
}

.copy::after {
	content: "|";
	font-weight: 700;
	animation: blink 0.5s step-end infinite alternate;
}

.button {
	border: 1px solid #777;
	margin-top: 2rem;
	display: flex;
	width: fit-content;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	cursor: pointer;

	transition: transform 0.2s;
	animation: buttonAnim 1s 2.5s;
	animation-fill-mode: backwards;
}

.button:hover {
	transform: scale(1.03);
}

@media only screen and (max-width: 600px) {
	.button {
		cursor: none;
	}
}

.test-screen {
	position: relative;
	padding-top: 20vh;
}

.word {
	display: inline-flex;
	align-items: center;
	flex-wrap: nowrap;
	margin-bottom: 1.9rem;
}

.letter {
	position: relative;
}

.letter.correct {
	color: #ddd;
}

.letter.wrong {
	background-color: #ff3131;
	color: #dddddd;
}

.cursor {
	font-size: 3.2rem;
	font-weight: 300;
	position: absolute;
	right: -0.5ch;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	z-index: 100;

	animation: blink 0.5s step-end infinite alternate;
}

/*TODO: UNCOMMENT*/
.quotes-box {
	color: #777;
	height: 20rem;
	overflow: hidden;
	font-size: 2.4rem;
}

.hidden-input {
	position: fixed;
	top: -100%;
	opacity: 0;
}

/*ANIMATIONS*/
@keyframes blink {
	from,
	to {
		color: #dddddd;
	}
	50% {
		color: transparent;
	}
}

@keyframes buttonAnim {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*LOADING SPINNER*/
.test-screen .loading-spinner {
	position: absolute;
	top: 20vh;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.loading-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: currentColor;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

.hidden {
	display: none !important;
}
