*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	font: inherit;
}

img {
	width: 100%;
}

b {
	font-weight: 700;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: #333;
	color: #ddd;
	font-family: "JetBrains Mono", monospace;
	font-size: 1.6rem;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.copy {
	margin-top: 5vh;
	width: fit-content;
	/*animation: blink 0.5s step-end infinite alternate;*/
	/*border-right: 1px solid white;*/
}

.copy::after {
	content: "|";
	font-weight: 700;
	animation: blink 0.5s step-end infinite alternate;
}

.button {
	border: 1px solid #777;
	margin-top: 2rem;
	display: flex;
	width: fit-content;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	cursor: pointer;

	transition: transform 0.2s;
	animation: buttonAnim 1s 2.5s;
	animation-fill-mode: backwards;
}

.button:hover {
	transform: scale(1.03);
}

@media only screen and (max-width: 600px) {
	.button {
		cursor: none;
	}
}

/*ANIMATIONS*/
@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: currentColor;
	}
}

@keyframes buttonAnim {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.hidden {
	display: none !important;
}
